.App{
  
}

.Container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color:#fff;
  font-weight: 600;
  background-color: #4B0082;
  padding:15px 20px;
  box-shadow: 2px 4px 4px -4px hotpink;
}
.Navbar{
  width: 30%;
  font-size: 14px;
  font-weight: 500;
  color:#fff;
  box-shadow:none;margin-top: 10px;
}

.Content {
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  color:#DDA0DD;
  width: 40%;
  text-align: center;
  margin: 0 auto;margin-top: 30px;
  line-height: 32px;
  
}

.Content p {
  /* animation: glow 1s ease-in-out infinite alternate; */
  text-shadow:
    0 0 100px #fff,
    0 0 100px #fff,
    0 0 210px #fff,
    0 0 200px hotpink,
    0 0 240px hotpink,
    0 0 2px hotpink,
    0 0 2px hotpink,
    0 0 1px hotpink;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff;
  }
} */


.FlexBox{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-flow:row wrap;
}

.Element {
  margin: 8px;
    flex-basis:10%;
  width:30px;
  height: 35px;
  background-color: #CBC3E3;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #301934;
  /* border: 1px solid #fff; */
  font-size: 14px;
  
}

.Button {
  padding:12px;border-radius: 24px;
  background-color: #CBC3E3;
  color:#301934;
  font-size: 20px;
  font-weight: 500;
}

.TitleBox {
  padding: 4px;
  height: 38px;
  border-radius: 4px;
  display: flex;
}

.Title{
  margin-top: 15px;
  margin-left: 25px;
  color: #fff;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.hover-underline-animation:hover {
  color: hotpink;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  background-color: hotpink;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Socials{
  background-color:#4B0082 ;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 100px;
  box-shadow: 4px 4px 4px -4px hotpink;
}

.Socials a{
  text-decoration: none;padding: 6px;
}

.Socials a img {
  width: 30px;
  height:30px;
}



