%shared-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: #4b0082;
  box-shadow: 2px 4px 4px -4px hotpink;
  position: sticky;
  top: 0;
  height: 100%;
  z-index:1
}

.Container {
  @extend %shared-container;
  padding: 15px 20px;
}

.MobileContainer {
  @extend %shared-container;
  padding: 5px 2px;
}

%shared-navbar {
  font-weight: 500;
  color: #fff;
  box-shadow: none;
  margin-top: 10px;
}

.Navbar {
  @extend %shared-navbar;
  width: 30%;
  font-size: 14px;
}

.MobileNavbar {
  @extend %shared-navbar;
  width: 250px;
  font-size: 10px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.hover-underline-animation:hover {
  color: hotpink;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  background-color: hotpink;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}